<!DOCTYPE html>
<html>
  <head>
    <title>CourierService</title>
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag 'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_pack_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>

    <div>
      <% unless current_page?(search_path) %>
        <a href="/search" style="font-size: 20px;">Search Orders</a>
      <% end %>
    </div>
    <% if current_user %>
      <ul>
        <li><a href="/">Home</a></li>
        <li><a href="/parcels">Parcels</a></li>
        <% if current_user.is_admin %>
          <li><a href="/users">Manage Users</a></li>
          <li><a href="/service_types">Service Types</a></li>
      <% end %>
        <li><a href="/logout">Logout</a></li>
      </ul>
  <% end %>
    <%= yield %>
  </body>
</html>
